@import "../../../theme/variable.scss";

section.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  > mat-card {
    background-color: $color-white-dark;
    margin: 1rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    > mat-card-actions {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
