@import "~material-icon-offline/style.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  min-height: 100vh;
  margin: 0;
  font-family: "Consolas", "微软雅黑", sans-serif;
  form {
    &.column {
      display: flex;
      flex-direction: column;
      align-items: center;
      > * {
        margin: 0.5rem 0;
        width: 100%;
      }
      > .button {
        width: 50%;
        > button {
          width: 100%;
        }
      }
    }
    .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
    .mat-form-field-empty.mat-form-field-label,
    mat-placeholder,
    .mat-hint,
    .mat-error {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}
