@import "~material-icon-offline/style.css";
@import "theme/index.scss";

body {
  p {
    word-wrap: break-word;
    word-break: break-all;
  }
  form {
    &.column {
      display: flex;
      flex-direction: column;
      align-items: center;
      > * {
        margin: 0.5rem 0;
        width: 100%;
      }
      > .button {
        width: 50%;
        > button {
          width: 100%;
        }
      }
    }
  }
}
