@import "../theme/variable.scss";

.progress {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 32;
}

.mat-expansion-panel {
  position: sticky;
  top: 0;
  z-index: 30;
  .selected {
    background-color: $color-black !important;
    color: $color-white !important;
  }
}

.outlet {
  padding: 0 1rem;
}
