<div class="window">

  <mat-progress-bar class="progress" color="primary" mode="indeterminate" *ngIf="app.status.loading"></mat-progress-bar>

  <mat-expansion-panel #panel [expanded]="true">
    <mat-expansion-panel-header>
      <h1 style="display: flex; flex-direction: row; align-items: center;">
        <mat-icon>{{ routes[title].icon }}</mat-icon> <span style="margin-left: 1rem;">{{ routes[title].title }}</span>
      </h1>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <a mat-list-item *ngFor="let route of routes; trackBy: trackByFn"
        [ngClass]="{'selected': routes[title].path === route.path}" (click)="panel.close()"
        [routerLink]="[ route.path ]">
        <mat-icon>{{ route.icon }}</mat-icon> {{ route.title }}
      </a>
    </mat-nav-list>
  </mat-expansion-panel>

  <section class="outlet">
    <router-outlet></router-outlet>
  </section>

  <app-action></app-action>

  <button mat-button (click)="testen()">Test en</button>
  <button mat-button (click)="testzh()">Test zh</button>

</div>
