@import "../theme/variable.scss";

mat-progress-bar.top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 32;
}

.content {
  display: flex;
  flex-direction: column;
}

.selected {
  background-color: $color-black !important;
  color: $color-white !important;
}

.outlet {
  padding: 0 1rem;
}
