@import "../../theme/variable.scss";

.title {
  margin: 0;
  text-align: center;
}

.date,
.reply {
  color: $color-gray;
  font-size: x-small !important;
}

.content {
  max-height: 3rem;
  white-space: normal !important;
}

.end {
  color: $color-gray;
  font-size: small;
  width: 100%;
  text-align: center;
}
