<h4 class="title">Comments of {{ hero.name }}</h4>

<mat-list>
  <mat-list-item *ngFor="let comment of comments">
    <img matListAvatar src="assets/head-1.jpg" />
    <p matLine class="date">{{ comment.date | date:"MM-dd HH:mm" }}</p>
    <p matLine class="content">{{ comment.content }}</p>
    <a matLine class="reply" *ngIf="comment.reply">View replies</a>
    <button mat-icon-button>
      <mat-icon>more_horiz</mat-icon>
      <!-- more_vert -->
    </button>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>

<ng-container *ngIf="hasMore; else noMoreTemplate">
  <button mat-button class="end" (click)="getMoreComments()">Load more...</button>
</ng-container>
<ng-template #noMoreTemplate>
  <p class="end">No more comments.</p>
</ng-template>

<form class="comment" [formGroup]="form">
  <mat-form-field>
    <input matInput formControlName="comment">
    <mat-placeholder>
      <mat-icon>comment</mat-icon> Comment
    </mat-placeholder>
    <mat-hint>
      <mat-icon>comment</mat-icon> Input your comment
    </mat-hint>
    <mat-error *ngIf="form.get('comment').hasError('maxlength')">
      <mat-icon>block</mat-icon> Comment is up to 250
    </mat-error>
  </mat-form-field>
  <button mat-icon-button
    [disabled]="form.invalid || app.status.loading !== 0 || form.get('comment').value.length === 0" (click)="add()">
    <mat-icon>send</mat-icon>
  </button>
</form>
