<h4 class="title">Comments of {{ hero.name }}</h4>

<mat-list>
  <mat-list-item *ngFor="let comment of comments">
    <img matListAvatar src="assets/head-1.jpg" />
    <p matLine class="date">{{ comment.date | date:"MM-dd HH:mm" }}</p>
    <p matLine class="content">{{ comment.content }}</p>
    <p matLine class="reply" *ngIf="comment.reply">View replies</p>
    <button mat-icon-button>
      <mat-icon>more_horiz</mat-icon>
      <!-- more_vert -->
    </button>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>

<p class="end">No more comments.</p>
