<mat-list>
  <mat-list-item *ngFor="let hero of heroes; trackBy: trackByFn">
    <span class="id">No.{{ hero.id }}</span>
    <span class="name" (click)="openDetail(hero.id)">{{ hero.name }}</span>
    <span class="delete" (click)="delete(hero.id)">X</span>
  </mat-list-item>
</mat-list>

<div class="buttons">
  <button mat-button (click)="prev()" [disabled]="app.status.loading !== 0">
    <mat-icon>keyboard_arrow_left</mat-icon> Prev
  </button>
  <span>{{ page.offset + 1 }} to {{ page.offset + page.limit }}</span>
  <button mat-button (click)="next()" [disabled]="app.status.loading !== 0">
    Next <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
</div>
