@import "../../../theme/variable.scss";

mat-list {
  > mat-list-item {
    text-decoration: none;
    span {
      cursor: pointer;
      padding: 0.5rem 1rem;
      &.id {
        background-color: $color-black;
        color: $color-white;
        border-bottom-left-radius: 2px;
        border-top-left-radius: 2px;
        min-width: 3rem;
      }
      &.name {
        background-color: $color-grey;
        width: 100%;
        &:hover {
          background-color: $color-gray-light;
        }
      }
      &.delete {
        background-color: $color-grey;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        &:hover {
          background-color: $color-gray-light;
        }
      }
    }
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
