mat-nav-list {
  > a {
    width: fit-content;
    span {
      padding: 0.5rem 1rem;
      &.id {
        background-color: #747d8c;
        color: white;
        border-bottom-left-radius: 2px;
        border-top-left-radius: 2px;
      }
      &.name {
        background-color: #dfe4ea;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        min-width: 10rem;
      }
    }
  }
}
