@import "../../../../config.less";

.heroes {
  margin: 0;
  padding: 0;
  > .hero {
    .flexRow();
    color: @colorLight;
    cursor: pointer;
    list-style-type: none;
    margin: 1rem 0;
    width: 15rem;
    > span.id {
      background-color: @colorPrimary;
      border-top-left-radius: 0.2rem;
      border-bottom-left-radius: 0.2rem;
      padding: 0.5rem 1rem;
    }
    > span.name {
      background-color: @colorGray;
      border-top-right-radius: 0.2rem;
      border-bottom-right-radius: 0.2rem;
      padding: 0.5rem 1rem;
      text-align: center;
      width: 100%;
    }
    &:hover {
      > span.id {
        background-color: @colorSuccess;
        padding: 0.5rem 1.5rem;
      }
    }
  }
}
