<h3>Top Heroes</h3>

<section class="list">
  <mat-card class="hero" *ngFor="let hero of heroes; trackBy: trackByFn">
    <mat-card-header>
      <mat-card-title>{{ hero.id }}</mat-card-title>
      <mat-card-subtitle>{{ hero.name }}</mat-card-subtitle>
      <img mat-card-avatar src="https://picsum.photos/300/300/?random" />
    </mat-card-header>
    <mat-card-content>
      {{ 'Hero detail information.' }}
    </mat-card-content>
    <mat-card-actions [align]="'end'">
      <a mat-button color="primary" [routerLink]="['/detail', hero.id]">详情</a>
      <a mat-button color="accent" (click)="like(hero.id)">喜欢</a>
      <a mat-button color="warn">删除</a>
    </mat-card-actions>
  </mat-card>
</section>
