$color-black-light: #57606f;
$color-black: #2f3542;

$color-gray-light: #a4b0be;
$color-gray: #747d8c;

$color-grey: #dfe4ea;
$color-grey-dark: #ced6e0;

$color-white: #ffffff;
$color-white-dark: #f1f2f6;

$color-blue-light: #70a1ff;
$color-blue: #1e90ff;

/** White color, #fff. */
$mat-color-white: (
  100: $color-white,
  500: $color-white,
  700: $color-white,
  contrast: (
    100: $color-black,
    500: $color-black,
    700: $color-black
  )
);

/** Black color, #2f3542. */
$mat-color-black: (
  100: $color-black,
  500: $color-black,
  700: $color-black,
  contrast: (
    100: $color-white,
    500: $color-white,
    700: $color-white
  )
);

/** Blue color, #1e90ff. */
$mat-color-blue: (
  100: $color-blue-light,
  500: $color-blue,
  700: $color-blue,
  contrast: (
    100: $color-white,
    500: $color-white,
    700: $color-white
  )
);

// /** Background palette for light themes. */
// $mat-light-theme-background: (
//   status-bar: map_get($mat-color-black, 300),
//   app-bar: map_get($mat-color-black, 100),
//   background: map_get($mat-color-black, 50),
//   hover: rgba(black, 0.04),
//   dialog: white,
//   disabled-button: rgba(black, 0.12),
//   raised-button: white,
//   focused-button: $dark-focused,
//   selected-button: map_get($mat-color-black, 300),
//   selected-disabled-button: map_get($mat-color-black, 400),
//   disabled-button-toggle: map_get($mat-color-black, 200),
//   unselected-chip: map_get($mat-color-black, 300),
//   disabled-list-option: map_get($mat-color-black, 200)
// );

// // Background palette for light themes.
// $mat-light-theme-background: (
//   status-bar: map_get($mat-gray, 300),
//   app-bar: map_get($mat-gray, 100),
//   background: map_get($mat-gray, 50),
//   hover: rgba(black, 0.04),
//   dialog: white,
//   disabled-button: rgba(black, 0.12),
//   raised-button: white,
//   focused-button: $dark-focused,
//   selected-button: map_get($mat-gray, 300),
//   selected-disabled-button: map_get($mat-gray, 400),
//   disabled-button-toggle: map_get($mat-gray, 200),
//   unselected-chip: map_get($mat-gray, 300),
//   disabled-list-option: map_get($mat-gray, 200)
// );
